html, body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    height: 100%;
}
#map {
    height: 100vh;
    width: 100%;
    background-color: #2a3145;
}
#coords {
    position: absolute;
    bottom: 10px;
    left: 10px;
    background: white;
    padding: 5px 10px;
    z-index: 1000;
    font-family: monospace;
    border-radius:.25em;
}
.leaflet-tile,
.leaflet-image-layer,
.pixelated {
    image-rendering: pixelated;
    image-rendering: crisp-edges;
}

.leaflet-control-layers .lc-section {
    margin-bottom: 10px;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
}

.leaflet-control-layers .lc-summary {
    color: #2a3145;
    align-items: center;
    font-weight: bold;
    cursor: pointer;
    list-style: none;
}

.leaflet-control-layers .lc-list label {
    display: flex;
    align-items: center;
}

#tracking_container {
    position: absolute;
    bottom: 31px;
    left: -1px;
    padding: 5px 10px;
    z-index: 1000;
}

#tracking_item {
    background: white;
    padding: 5px 10px;
    z-index: 1000;
    font-family: monospace;
    border-radius: .25em;
    margin-bottom: 5px;
    border: 1px solid black;
}